<!-- Footer -->

<hr>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 col-xs-12 mx-auto text-center">
        <ul class="list-inline text-center">
          {% if site.steam_creator_page %}
          <li class="list-inline-item">
            <a href="{{ site.steam_creator_page }}">
              <span class="fa-stack fa-lg">
                <i class="fab fa-steam-square fa-stack-2x" title="Steam Creator Page"></i>
              </span>
            </a>
          </li>
          {% endif %}
          {% if site.subreddit %}
          <li class="list-inline-item">
            <a href="https://www.reddit.com/r/{{ site.subreddit }}">
              <span class="fa-stack fa-lg">
                <i class="fab fa-reddit-square fa-stack-2x" title="Join the subreddit"></i>
              </span>
            </a>
          </li>
          {% endif %}
          {% if site.discord_invite %}
          <li class="list-inline-item">
            <a href="{{ site.discord_invite }}">
              <span class="fa-stack fa-lg">
                <i class="fab fa-discord fa-stack-2x" title="Join the Discord server"></i>
              </span>
            </a>
          </li>
          {% endif %}
          {% if site.youtube %}
          <li class="list-inline-item">
            <a href="{{ site.youtube }}">
              <span class="fa-stack fa-lg">
                <i class="fab fa-youtube-square fa-stack-2x" title="Subscribe to the YouTube channel"></i>
              </span>
            </a>
          </li>
          {% endif %}
        </ul>
        <p class="copyright text-muted"><i class="far fa-envelope"></i> <a href="mailto:{{ site.email }}" class="text-muted">{{ site.email }}</a><br>Copyright &copy; {{ site.author }}, {{ 'now' | date: "%Y" }}</p>
      </div>
    </div>
  </div>
</footer>
