<section class="cd-horizontal-timeline">
	<div class="timeline">
		<div class="events-wrapper">
			<div class="events">
				<ol>
					<li><a href="#0" data-date="01/04/2020" class="selected">Apr 2020</a></li>
					<li><a href="#0" class="a2" data-date="01/05/2020">May 2020</a></li>
					<li><a href="#0" data-date="01/06/2020">Jun 2020</a></li>
					<li><a href="#0" class="a2" data-date="01/09/2020">Winter 2020</a></li>
					<li><a href="#0" data-date="01/10/2020">Winter 2020</a></li>
				</ol>

				<span class="filling-line" aria-hidden="true"></span>
			</div> <!-- .events -->
		</div> <!-- .events-wrapper -->
			
		<ul class="cd-timeline-navigation">
			<li><a href="#0" class="prev inactive">Prev</a></li>
			<li><a href="#0" class="next">Next</a></li>
		</ul> <!-- .cd-timeline-navigation -->
	</div> <!-- .timeline -->

	<div class="events-content">
		<ol>
			<li class="selected" data-date="01/04/2020">
				<h2>Pre-Alpha</h2>
        			<em>April, 2020</em>
				<p>Story finished</p>
			</li>

			<li data-date="01/05/2020">
				<h2>Fanshawe College Cyber Security</h2>
				<em>May, 2020</em>
				<p>	
					In September, 2017 I enrolled into the Cyber Security course at Fanshawe College.
				</p><br>
        <p>Key courses include: </p>
			</li>

			<li data-date="01/06/2020">
				<h2>CTF</h2>
				<em>June, 2020</em>
				<p>	
					Participated in CTF.
				</p>
			</li>

			<li data-date="01/09/2020">
				<h2>Event title here</h2>
				<em>Winter, 2020</em>
				<p>	
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
				</p>
			</li>
			
			<li data-date="01/10/2020">
				<h2>Event title here</h2>
				<em>Winter, 2020</em>
				<p>	
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
				</p>
			</li>

		</ol>
	</div> <!-- .events-content -->
</section>
